
<div class="form-container">

	<form #channelForm="ngForm" id="channel-form">
		<md-card *ngIf="channel">
			<md-input-container>
				<input md-input disabled value="{{channel.integrationName}}">
			</md-input-container>

			<md-input-container>
				<input md-input  
					name="integrationName" 
					placeholder="Integration name"
					[(ngModel)]="channel.integrationName">
			</md-input-container>

			<md-input-container>
				<input md-input  
					name="localQueue" 
					placeholder="Queue name"
					[(ngModel)]="channel.localQueue">
			</md-input-container>

			<md-input-container>
				<input md-input  
					name="documentName" 
					placeholder="Document name"
					[(ngModel)]="channel.documentName">
			</md-input-container>

			<md-input-container>
				<input md-input  
					class="xpath"
					name="splitXPathExpression" 
					placeholder="XPath root"
					[(ngModel)]="channel.splitXPathExpression">
			</md-input-container>

			<!-- Form buttons -->
			<md-card-actions>
				<button md-button color="warn" 
					(click)="deleteChannelWarning()" 
					mdTooltip="Delete channel">
					<i class="material-icons">delete</i>
				</button>
				<button md-button color="primary" 
					(click)="newTagDialog()"
					mdTooltip="Add a new data tag">
					<i class="material-icons">code</i>
				</button>
				<button md-button color="primary" 
					(click)="saveChannel()"
					mdTooltip="Save channel">
					<i class="material-icons">save</i>
				</button>
			</md-card-actions>
		</md-card>

		<!-- Forms for data dats -->
		<div *ngIf="channel && channel.dataTags">
			<md-card *ngFor="let tag of channel.dataTags; let i = index">
				<div class="delete-tag" (click)="deleteTagDialog(i)">
					<i class="material-icons">clear</i>
				</div>
				<md-input-container>
					<input md-input 
						name="{{tag.id}}-tag.name"
						placeholder="Tag name"
						[(ngModel)]="channel.dataTags[i].name">
				</md-input-container>
				<md-input-container>
					<input md-input 
						class="xpath"
						name="{{tag.id}}-tag.regex"
						placeholder="Regex"
						[(ngModel)]="channel.dataTags[i].regex">
				</md-input-container>
			</md-card>
		</div>
	</form>
</div>