
md-input-container {
	width: 100%;
}

md-card-actions, md-dialog-actions {
	text-align: center;
}

md-dialog-actions {
	width: 100%;
	justify-content: center;
}

md-dialog-actions button {
	margin: 5px;
}

.form-container {
	height: 90%;
	overflow: auto;
}

.xpath {
	font-family: monospace;
	font-size: 1em;
}

.new-tag h4 {
	margin:0px 0px 20px 0px;
	color: #666;
}

.delete-tag {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 20px;
	cursor: pointer;
	color: #ccc;
	z-index: 100;
}

.delete-tag:hover {
	color: red;
}
